* {
    box-sizing: border-box;
  }
   
  body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
  }

  /* Navigation */
.navigation {
    position: absolute;
    width: 100%;
    height: 100px;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
  }
   
  .navigation-left {
    margin-left: -33px;
  }
   
  .navigation-left a {
    text-decoration: none;
    text-transform: uppercase;
    color: #545555;
    font-size: 12px;
    font-weight: bold;
    width: 107px;
    height: 30px;
    border: 2px solid transparent;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    transition: all .2s;
  }
   
  .navigation-left a:hover,
  .navigation-left a:focus {
    border-color: rgb(234, 46, 73);
    background-color: rgba(44, 45, 47, 0);
  }
   

  
   
  .css-slider-wrapper {
    display: block;
    background: #FFF;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  /* Slider */
.slider {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    -webkit-transition: -webkit-transform 1600ms;
    transition: -webkit-transform 1600ms, transform 1600ms;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
   
  /* Slides Background Color */
  .slide-1 {
    background: #353535;
    left: 0;
  
    
  }
  .slide-2 {
    background: #222222;
    left: 100%
  }
  .slide-3 {
    background: linear-gradient(to bottom left, #3a3a3afb, rgb(26, 26, 26));
    left: 200%
  }
  .slide-4 {
    background: linear-gradient(to right,#222222ef, rgba(0, 0, 0, 0.915)), url("https://c4.wallpaperflare.com/wallpaper/77/154/473/server-room-lights-dark-wallpaper-preview.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    left: 300%;
  }
  .slider {
    display: flex;
    justify-content: flex-start;
  }
  .slider-content {
    width: 635px;
    padding-left: 100px;
  }

  /* Slider Inner Slide Effect */
.slider h2 {
    color:rgb(216, 216, 216);
    font-weight: 900;
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.2;
    opacity: 0;
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
    margin-top: 0;
    letter-spacing: 2px;
    text-shadow:2px 2px 4px black;
  }
   
  .slider h4 {
    font-size: 22px;
    font-family: 'Montserrat';
    color: rgba(100, 100, 100, 0.699);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    opacity: 0;
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
  }
   
  
   
  .btn {
    background-color: #ea2e49;
    width: 180px;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 100;
    color: #fff;
    text-align: left;
    padding-left: 35px;
    position: relative;
    cursor: pointer;
    transition: all .2s;
  }
   
  .btn:hover {
    box-shadow: 0px 0px 60px -17px rgba(51,51,51,1);
  }
   
 
   
  .slider .buy-now-btn:focus,
  .navigation .login-btn:focus {
    outline: none;
  }

  .slider h2 {
    -webkit-transition: opacity 800ms, -webkit-transform 800ms;
    transition: transform 800ms, opacity 800ms;
    -webkit-transition-delay: 1s; /* Safari */
    transition-delay: 1s;
  }
  .slider h4 {
    -webkit-transition: opacity 800ms, -webkit-transform 800ms;
    transition: transform 800ms, opacity 800ms;
    -webkit-transition-delay: 1.4s; /* Safari */
    transition-delay: 1.4s;
  }
  .slider > img {
    -webkit-transition: opacity 800ms, -webkit-transform 800ms;
    transition: transform 800ms, opacity 800ms;
    -webkit-transition-delay: 1.2s; /* Safari */
    transition-delay: 1.2s;
  }

  /* Number Pagination */
.number-pagination {
    position: absolute;
    bottom: 30px;
    right: 100px;
    font-family: 'Montserrat';
    font-weight: bold;
  }
   
  .number-pagination span {
    font-size: 30px;
    color: #ea2e49;
    letter-spacing: 4px;
  }
   
  .number-pagination span:after {
    content: "/4";
    font-size: 16px;
    color: #fff;
  }

  /* Slider Pagger */
.slider-pagination {
    position: absolute;
    bottom: 30px;
    width: 575px;
    left: 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
  }
  .slider-pagination label {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    background: #fff;
    margin: 0 10px;
    cursor: pointer;
  }

  /* Slider Pagger Event */
.slide-radio1:checked ~ .slider-pagination .page1,
.slide-radio2:checked ~ .slider-pagination .page2,
.slide-radio3:checked ~ .slider-pagination .page3,
.slide-radio4:checked ~ .slider-pagination .page4 {
  width: 16px;
  height: 16px;
  border: 2px solid #ea2e49;
  background: transparent;
}


 
/* Slider Slide Effect */
.slide-radio1:checked ~ .slider {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.slide-radio2:checked ~ .slider {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.slide-radio3:checked ~ .slider {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}
.slide-radio4:checked ~ .slider {
  -webkit-transform: translateX(-300%);
  transform: translateX(-300%);
}
 
.slide-radio1:checked ~ .slide-1 h2,
.slide-radio2:checked ~ .slide-2 h2,
.slide-radio3:checked ~ .slide-3 h2,
.slide-radio4:checked ~ .slide-4 h2,
.slide-radio1:checked ~ .slide-1 h4,
.slide-radio2:checked ~ .slide-2 h4,
.slide-radio3:checked ~ .slide-3 h4,
.slide-radio4:checked ~ .slide-4 h4,
.slide-radio1:checked ~ .slide-1 > img,
.slide-radio2:checked ~ .slide-2 > img,
.slide-radio3:checked ~ .slide-3 > img,
.slide-radio4:checked ~ .slide-4 > img {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1
}


  #split, #split2, #split3, #split0 {
      display:grid;
      grid-template-rows:100%;
      grid-template-columns:50vw 40vw;
  }

  #imagediv{
      background:linear-gradient(to left, rgba(77, 76, 76, 0.786),rgba(58, 57, 57, 0.907)), url("/assets/IMG_20200616_104838-removebg-preview.png");
      background-repeat:no-repeat;
      background-size:contain;
      height:400px;
      width:100%;
  }

  /* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 70%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    position:relative;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgb(24, 24, 24);
    width:70%;
    color:rgb(148, 148, 148);
    font-size:0.8em;
    line-height:1.2em;
  }

  #right{
      display:flex;
      flex-direction:column;
  }

  

  #left {
      padding-right:20px;
  }

  #exp1 {
      border-bottom:1px solid gray;
      background-color: rgb(41, 40, 40);
      color:gray;
  }

  #exp2 {
    border-bottom:1px solid gray;
    background-color: rgb(41, 40, 40);
    color:gray;
}

#exp3 {
    border-bottom:1px solid gray;
    background-color: rgb(41, 40, 40);
    color:gray;
}

p{
    color:gray;
}

.icon{
    height:28px;
    width:27px;
    border:1px solid black;
    box-shadow:2px 2px 7px black;
    border:2px solid black;
    opacity:0.7;
}

.linkedlink{
    text-decoration:none;
    color:gray;
}

.linkedlink:hover{
    color:#ea2e49;
}

.fas {
     color:gray;
     transform: scale(1.1);
     margin:0px 2px;
}

span{
  color:rgb(216, 216, 216);
}

.edu, h4, .edu3{
  line-height:1.3em;
}

.edu, .edu1, .edu3{
  font-size:14px;
  margin-top:-7px;
}

#profpic{
  width:90px;
  height: 90px;
  border-radius:120px;
  border:2px solid rgb(51, 50, 50);
  margin:5px 15px 8px -108px;
  
}

#profpic1{
  float:left;
  width:100px;
  height:100px;
  border-radius:5px;
  margin-right:20px;
  margin-bottom:5px;
  margin-top:-5px;
  border:2px solid rgb(51, 50, 50);
}

#sub, h4 {
  text-shadow:1px 1px 3px rgba(26, 25, 25, 0.753);
}

#aboutme{
  padding:15px auto;
  width:70%;
}

#aboutit {
  margin-bottom:60px;
}

#split5{
  display:flex;
  margin-top:-10px;
}

.down-btn{
  background-color: #ea2e49;
    width: auto;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 100;
    color: #fff;
    text-align: center;
    padding:2px 10px;
    position: relative;
    cursor: pointer;
    transition: all .2s;
    margin-top:30px;
}

.arrow {
  border: solid rgb(100, 100, 100);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  position:absolute;
  right:4%;
  bottom:49%;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


/* Responsive */
@media only screen and (max-width: 768px) {

  #mainpic {
    display:none;
  }

  #split, #split, #split2, #split3, #split0 {
    flex-direction:column;
    display:flex;
  }

  .slider h2 {
    font-size: 20px;
  }
  .slider h4 {
    font-size: 16px;
  }
 
  .slider-content {
    padding: 0 4%
  }
 
  .navigation {
    padding: 0 2%;
  }
 
  .navigation-left {
    display: none;
  }
 
  .number-pagination {
    right: 2%;
  }
  .slider-pagination {
    left: 2%;
  }
 
  .slider .buy-now-btn {
    padding: 0 15px;
    width: 175px;
    height: 42px;
  }
 
  .slider .buy-now-btn:after {
    top: 15px;
  }
 
  .slider > img {
    right: 2%;
  }
 
  .slide-1 > img {
    right: -110px;
  }

  .edu, .hide {
    display:none;
  }

  #right {
    width:140%;
    margin:-40px auto 0px auto;
  }

  .number-pagination span {
    font-size: 20px;
    color: #ea2e49;
    letter-spacing: 4px;
  }
   
  .number-pagination span:after {
    content: "/4";
    font-size: 14px;
    color: #fff;
  }

  .down-btn {
    margin-top:15px;
  }

  #skillsp{
    display:none;
  }

  #tecskills {
    font-size:13px;
  }

  #right2{
    margin-top:-15px;
  }

  .name{
    margin-top:-12px !important;
   
  }

 .abouttxt {
    display:none;
  }

  #aboutme{
    width:100%;
  }

  #emailbtn{
    margin-top:-5px;
    font-size:14px;
  }
  .edu3{
    margin-bottom:-1px;
    margin-top:-5px;
  }

  #about-content{
    margin-top:-20px;
  }

  #split5{
    margin-top:-20px !important;
  }

  .icon{
    box-shadow:none;
    border:none;
    transform:scale(0.85)
  }

  .fa-envelope-open {
    transform:scale(0.95)
  }

  .slide-1{
    background:linear-gradient(to top left,#2c2c2cc7,#272727), url("/assets/IMG_20200616_104838-removebg-preview.png");
    background-size:cover;
  }

  #sub, h4{
    text-shadow:1px 1px 3px rgba(26, 25, 25, 0.853);
    color:rgb(119, 119, 119);
  }

  #dd {
    font-size:36px;
  }

  #profpic1 {
    width:100px;
    height:103px;
  }
}
